{% extends 'base/base.html' %}
{% block title %}복리의법칙 나도해보자{% endblock %}
{% block extendjs %}<script type="text/javascript" src="/static/js/highcharts.js"></script>{% endblock %}
{% block content %}
    <div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        $.get('/edu/compound.data', function(jsondata) {
            Highcharts.chart('chart_container', {
               chart: {
                    type: 'spline'
                },
                title: {
                    text: '복리의법칙',
                },
                data: jsondata,
            });
        });0
    </script>
{% endblock %}