{% extends 'base/base.html' %}
{% load global %}
{% block title %}코스트 에버리지 나도해보자{% endblock %}
{% block extendjs %}<script type="text/javascript" src="{% URL %}/static/js/highstock.js{% ENDURL %}"></script>{% endblock %}
{% block content %}
    <div>
        <form method="GET" action="{% URL %}/edu/costaverage{% ENDURL %}">
            <label>종목코드 : <input type="text" name="code" value="{{ CODE }}"></label>
            <label>sdate : <input type="date" name="sdate" value="{{ SDATE }}"></label>
            <label>edate : <input type="date" name="edate" value="{{ EDATE }}"></label>
            <input type="submit">
        </form>
    </div>
    <div id="chart_container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
    <script type="text/javascript">
        $.getJSON('{% URL %}/edu/costaverage.data?code={{ CODE }}&sdate={{ SDATE }}&edate={{ EDATE }}{% ENDURL %}', function (data) {
            var ohlc = [];
            var m5data = [];
            var m20data = [];
            var aadata = []; //계좌 잔고
            var bbdata = []; //주식 보유 수량

            var i = 0;
            var dataLength = data[0].length;
            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[0][i][0], // the date
                    data[0][i][1], // open
                    data[0][i][2], // high
                    data[0][i][3], // low
                    data[0][i][4] // close
                ]);

                m5data.push([
                    data[0][i][0], // the date
                    data[0][i][5] // the 5days moving average
                ]);

                m20data.push([
                    data[0][i][0], // the date
                    data[0][i][6] // the 20days moving average
                ]);

                aadata.push([
                    data[0][i][0], // the date
                    data[0][i][7] // 계좌잔고
                ]);

                bbdata.push([
                    data[0][i][0], // the date
                    data[0][i][8] // 주식 보유 수량
                ]);
            }
            var goldencrossdata = data[1];
            var deadcrossdata = data[2];
            var buypositiondata = data[3];

            Highcharts.stockChart('chart_container', {
                chart: {
                    animation: Highcharts.svg,
                },
                rangeSelector: {
                    selected: 1
                },
                // 마우스 온 이라고 했을때, 툴팁이 분리되서 표출여부
                tooltip: {
                    split: false
                },

                title: {
                    text: '{{ CODE }}'
                },
                yAxis: [
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart 1'},
                        height: '50%',
                        lineWidth: 2
                    },
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart1'},
                        top: '50%',
                        height: '25%',
                        offset: 0,
                        lineWidth: 2
                    },
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart 2'},
                        top: '75%',
                        height: '25%',
                        offset: 0,
                        lineWidth: 2
                    },
                ],
                
                series: [
                    // 캔들스틱
                    {
                        type: 'candlestick',
                        id:'candlestick',
                        name: 'item',
                        data: ohlc,
                        yAxis: 0,
                    },

                    // 5일 평균선
                    {
                        name: 'M5',
                        id: 'M5',
                        type: 'spline',
                        data: m5data
                    },

                    // 20일 평균선
                    {
                        name: 'M20',
                        id: 'M20',
                        type: 'spline',
                        data: m20data
                    },

                    //계좌 잔고
                    {
                        name: '계좌잔고',
                        id: 'equity',
                        type: 'line',
                        data: aadata,
                        yAxis: 1,
                    },

                    //주식 보유 수량
                    {
                        name: '주식 보유 수량',
                        id: 'equity',
                        type: 'line',
                        data: bbdata,
                        yAxis: 2,
                    },



                    // 골든크로스
                    {
                        name: 'golden cross',
                        type: 'flags',
                        data: goldencrossdata,
                        onSeries: 'M5',
                        shape: 'squarepin',
                    },

                    // 데드크로스
                    {
                        name: 'dead cross',
                        type: 'flags',
                        data: deadcrossdata,
                        onSeries: 'M5',
                        shape: 'squarepin',
                    },

                    // 바이포지션
                        //{
                    //    type: 'flags',
                    //    name: 'Flags on axis',
                    //    data: buypositiondata,
                    //    shape: 'squarepin',
                    //},



                ]
            });
        });
    </script>
{% endblock %}