{% extends 'base/base.html' %}
{% block title %}코스트 에버리지 나도해보자{% endblock %}
{% block extendjs %}<script type="text/javascript" src="/static/js/highstock.js"></script>{% endblock %}
{% block content %}
    <div>
        <form method="GET" action="/edu/costaverage">
            <label>종목코드 : <input type="text" name="code" value="{{ CODE }}"></label>
            <label>sdate : <input type="date" name="sdate" value="{{ SDATE }}"></label>
            <label>edate : <input type="date" name="edate" value="{{ EDATE }}"></label>
            <input type="submit">
        </form>
    </div>
    <div id="container" style="min-width: 310px; min-height: 700px; height: 700px; margin: 0 auto"></div>
    <script type="text/javascript">
        $.getJSON('/edu/costaverage.data?code={{ CODE }}&sdate={{ SDATE }}&edate={{ EDATE }}', function (data) {
            // create the chart
            Highcharts.stockChart('container', {
                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: '{{ CODE }}'
                },

                series: [
                    {
                        type: 'candlestick',
                        id:'candlestick',
                        name: 'item',
                        data: data,
                    },
                    {% for chart in AddCharts %}
                        {{ chart|safe }},
                    {% endfor %}
                    {{ GLODENCROSS|safe }},
                    {{ DEADCROSS|safe }},
                ]
            });
        });
    </script>
{% endblock %}