{% extends 'base/base.html' %}
{% block title %}MACD 나도해보자{% endblock %}
{% block extendjs %}<script type="text/javascript" src="/static/js/highstock.js"></script>{% endblock %}
{% block content %}
    <div>
        <form method="GET" action="">
            <label>종목코드 : <input type="text" name="code" value="{{ CODE }}"></label>
            <label>sdate : <input type="date" name="sdate" value="{{ SDATE }}"></label>
            <label>edate : <input type="date" name="edate" value="{{ EDATE }}"></label>
            <input type="submit">
        </form>
    </div>
    <div id="chart_container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
    <script type="text/javascript">
        $.getJSON('/edu/macd.data?code={{ CODE }}&sdate={{ SDATE }}&edate={{ EDATE }}', function (data) {
            //[0] = date
            //[1] = open
            //[2] = high
            //[3] = low
            //[4] = close
            //[5] = adj close
            
            //[6] = 단기지수이동평균(12)
            //[7] = 장기지수이동평균(26)
            //[8] = 지수이동평균(9)
            //[9] = macd
            //[10] = signal
            
            var ohlc = []; //캔들챠트
            var ema12 = [];
            var ema26 = [];
            var ema9 = [];
            var macd = [];
            var signal = [];
            
            var i = 0;
            var dataLength = data[0].length;
            
            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[0][i][0], // the date
                    data[0][i][1], // open
                    data[0][i][2], // high
                    data[0][i][3], // low
                    data[0][i][4], // close
                ]);

                ema12.push([
                    data[0][i][0], // the date
                    data[0][i][6]  // 단기지수이동평균(12)
                ]);
                
                ema26.push([
                    data[0][i][0], // the date
                    data[0][i][7] // 장기지수이동평균(26)
                ]);
                
                //ema9.push([
                //    data[0][i][0], // the date
                //    data[0][i][8] // 지수이동평균(9)
                //]);
                
                macd.push([
                    data[0][i][0], // the date
                    data[0][i][9]  // macd
                ]);
                
                signal.push([
                    data[0][i][0], // the date
                    data[0][i][10]  // signal
                ]);
            }

            Highcharts.stockChart('chart_container', {
                chart: {
                    animation: Highcharts.svg,
                },
                rangeSelector: {
                    selected: 1
                },
                // 마우스 온 이라고 했을때, 툴팁이 분리되서 표출여부
                tooltip: {
                    split: false
                },

                title: {
                    text: '{{ CODE }}'
                },
                yAxis: [
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart 1'},
                        height: '50%',
                        lineWidth: 2
                    },
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart1'},
                        top: '50%',
                        height: '25%',
                        offset: 0,
                        lineWidth: 2,
                        
                        plotLines: [{
                            value: 0,
                            color: 'green',
                            dashStyle: 'shortdash',
                            width: 2,
                            label: {
                                text: '0'
                            }
                        }],
                        
                    },
                    {
                        labels: {align: 'right',x: -3},
                        title: {text: 'chart 2'},
                        top: '75%',
                        height: '25%',
                        offset: 0,
                        lineWidth: 2
                    },
                ],
                series: [
                    // 캔들스틱
                    {
                        type: 'candlestick',
                        id:'candlestick',
                        name: 'item',
                        data: ohlc,
                        yAxis: 0,
                    },
                    {name: 'EMA(12)',id: 'ema12',type: 'line',data: ema12},
                    {name: 'EMA(26)',id: 'ema26',type: 'line',data: ema26},
                    //{name: 'EMA(9)',id: 'ema9',type: 'line',data: ema9},
                    
                    // macd
                    {
                        name: 'macd',
                        id: 'macd',
                        type: 'column',
                        data: macd,
                        yAxis: 1,
                    },
                    {name: 'signal',id: 'signal',type: 'line',data: signal, yAxis: 1},
                ]
            });
        });
    </script>
{% endblock %}