<!DOCTYPE html>
{% load global %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
        {% include 'base/style.css' %}
        </style>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        {% block extendjs %}{% endblock %}
        <script type="text/javascript" src="{% URL %}/static/js/exporting.js{% ENDURL %}"></script>
        <script type="text/javascript" src="{% URL %}/static/js/data.js{% ENDURL %}"></script>
    </head>
<body>
    <div class="menu">
        <a href="{% BASEURL %}">HOME</a>
        <a href="{% URL %}/edu/compound{% ENDURL %}">복리의법칙</a>
        <a href="{% URL %}/edu/costaverage2{% ENDURL %}">코스트에버리지</a>
        <a href="{% URL %}/edu/realtime{% ENDURL %}">리얼타임</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>